body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* ปรับสีปุ่มกลับและจัดตำแหน่ง */
#backButton {
  background-color: #2196F3; /* สีฟ้า */
  padding: 10px;
  border-radius: 4px; /* ปรับให้มุมปุ่มมน */
  color: white;
  font-size: 16px;
  width: 100%;
  margin-top: 20px; /* ระยะห่างจากปุ่ม Login */
  cursor: pointer;
}

#backButton:hover {
  background-color: #1976D2; /* สีฟ้าเข้มเมื่อ hover */
}
